<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
	<title>Forget</title>
</head>
<body>
	<div>
		Do you remember your username?<br>
		<input typle="text" id="username">
	</div>
	<input type="submit" id ="username_submit" placeholder="submitusername">
	<div>
	    Do you know your email address?<br>
		<input type="text" id="email">
	</div>
	<div>
		Do you know your cellphone number?<br>
		<input type="text" id="cellphone">
	</div>
	<input type="submit" id ="userinfo_submit" placeholder="submituserinfo">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{url_for('static',filename='forget.js')}}"></script>
</body>
</html>