<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Forget</title>
</head>
<body>
	<div>
		Do you remember your username?<br>
		<input typle="text" id="username">
	</div>
	<input type="submit" id ="username_submit" placeholder="submitusername">
	<div>
	    Do you know your email address?<br>
		<input type="text" id="email">
	</div>
	<div>
		Do you know your cellphone number?<br>
		<input type="text" id="cellphone">
	</div>
	<input type="submit" id ="userinfo_submit" placeholder="submituserinfo">
</body>
</html>